html{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/background.jpg);
}

.container{
    margin-top: 18rem !important;
}

.jumbotron{
    width: 40rem;
    border: 1px solid black;
    padding : 1rem 2rem !important;
    border-radius : 1.3rem !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}